$bg1: #222;
$bg2: #333;
$text: #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg1;
}

.container {
  height: 100vh;
  color: $text;
}

.card {
  background-color: $bg2;
}
