$bg1: #222;
$bg2: #333;
$text: #fff;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg1;
}

.container {
  height: 100vh;
  color: $text;
}

.card {
  width: 400px;
  height: 200px;
  background-color: $bg2;

  .form-control {
    width: 250px;
  }

  .btn {
    width: 100px;
  }
}
